<!-- CREATE A POST FORM -->
<form class="new-post-form">
    <div class="post">
        <h2>Add A New Post</h2>
    </div>
    <div class="post-content">
        <div>
            <label>Post Title</label>
            <textarea class="textarea" id="post-title"></textarea>
            <label>Content</label>
            <textarea class="textarea" id="post-text"></textarea>
        </div>
        <button class="btn" type="submit">Create</button>
    </div>
</form>

<script src="/javascript/add-post.js"></script>