
<form class="edit-post-form" name="{{post.id}}">
    <div class="post">
        <h2>Edit Post</h2>
    </div>
    <div class="post-content">
        <div>
            <label>Post Title</label>
            <textarea class="textarea" id="post-title">{{post.title}}</textarea>
            <label>Content</label>
            <textarea class="textarea" id="post-text">{{post.post_text}}</textarea>
        </div>
        <button class="btn" type="submit" id="save">Save</button>
        <button class="btn" type="reset" id="delete">Delete</button>
    </div>
</form>

<script src="/javascript/edit-post.js"></script>