
<form class="login-form">
  <div>
      <h2>Login</h2>
 </div>
 <div>
     <div>
         <label for="username-login">Username</label>
         <input type="text" id="username-login" >
         <label for="password-login">Password:</label>
        <input type="password" id="password-login" >
        </div>
        <button class="btn" type="submit">Login</button>
        <a class="login-link" href="/signup">Sign up here</a>
    </div>
</form>
<script src="/javascript/login.js"></script>