<form class="signup-form">
  <div>
      <h2>Sign Up</h2>
 </div>
 <div>
     <div>
         <label for="username-signup">Username</label>
         <input type="text" id="username-signup" >
         <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" >
        </div>
        <button class="btn" type="submit">Sign Up</button>
        <a href="/login">Login instead?</a>
    </div>
</form>
<script src="/javascript/signup.js"></script>